@*@model HomeViewModel*@
@model IEnumerable<Saidality.Models.Stock>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                BrandName
            </th>
            <th>
                ScientificName
            </th>
            <th>
                Type
            </th>
            <th>
                Pharmcy
            </th>
            <th>
                Price
            </th>
            <th>
                CreationDateTime
            </th>
            <th>
                LastUpdateDateTime
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Mediciene.BrandName)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Mediciene.ScientificName)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Mediciene.Type)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Pharmcy.Name): Locaton-@Html.DisplayNameFor(model => model.Pharmcy.Locaton.State)

                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Mediciene.Price)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Mediciene.CreationDateTime)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Mediciene.LastUpdateDateTime)
                </td>
                <td>
                    <a href="/Order">Order</a> |
                    @*<a asp-action="Details" asp-route-id="@item.MedicineID">Details</a>*@ |
                </td>
            </tr>
        }
    </tbody>
</table>
