@model HomeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                BrandName
            </th>
            <th>
                ScientificName
            </th>
            <th>
                Type
            </th>
            <th>
                Price
            </th>
            <th>
                CreationDateTime
            </th>
            <th>
                LastUpdateDateTime
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Mediciene)
        {
            <tr>
                <td>
                    @item.BrandName
                </td>
                <td>
                   @item.ScientificName
                </td>
                <td>
                   @item.Type
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.CreationDateTime
                </td>
                <td>
                    @item.LastUpdateDateTime
                </td>
                <td>
                    <a href="/Order">Order</a> |
                    @*<a asp-action="Details" asp-route-id="@item.MedicineID">Details</a>*@ |
                </td>
            </tr>
        }
    </tbody>
</table>
